* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility !important;
}

button {
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: #1c94e0;
  cursor: pointer;
  text-decoration: none;
}

.content {
  max-width: 1190px;
  min-width: 950px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  height: 46px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.nav__content {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.nav__content > * {
  flex: 1;
}

.nav__logo {
  color: #55acee;
}

.nav__logo .icon {
  padding: 4px;
  cursor: pointer;
}

.nav__menus {
  display: flex;
  align-items: stretch;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav__menus li {
  display: flex;
}

.nav__menus a {
  color: #66757f;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0px 20px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.nav__menus a:hover {
  color: #55acee;
  border-bottom-color: #55acee;
}

.nav__menus .icon {
  font-size: 2rem;
  margin-right: 10px;
}

.nav__container {
  display: flex;
  justify-content: flex-start;
}

.nav__personal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-left: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.nav__avatar img {
  height: 32px;
  width: 32px;
  z-index: -1;
}
.nav__avatar:hover img {
  filter: brightness(0.8);
}

.nav__button--tweet {
  background-color: #71bad5;
  color: #fff;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 16px;
  height: 32px;
  cursor: pointer;
}

.nav__button--tweet .icon {
  margin-right: 8px;
}

.nav__search {
  background-color: #f5f8fa;
  border: 1px solid #e6ecf0;
  color: #14171a;
  height: 32px;
  border-radius: 21px;
  padding: 8px 32px;
  max-width: 220px;
}

.banner__cover {
  height: 360px;
  padding: 46px 0 0 0;
  display: flex;
  flex: 1;
  background-color: #64aded;
}

.banner__bar {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.banner__bar-content {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding-left: 305px;
}

.banner__user-info {
  justify-content: flex-start;
  display: flex;
  flex: 1;
}

.banner__user-info li {
  display: flex;
  cursor: pointer;
  padding: 8px 15px;
  flex-direction: column;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-bottom: 0px solid transparent;
}

.banner__user-info li:hover,
li.banner__user-info--active {
  border-bottom: 2px solid #1c94e0;
}

li.banner__user-info--active {
  cursor: default;
  color: #1c94e0;
}

.banner__title {
  color: #657786;
  font-size: 1.4rem;
}

.banner__amount {
  color: #66757f;
  font-size: 1.8rem;
}
li.banner__user-info--active .banner__amount {
  color: #1c94e0;
}

.banner__actions {
  display: flex;
  align-items: center;
}

.button {
  min-width: 105px;
  color: #1c94e0;
  border: 1px solid #1c94e0;
  border-radius: 100px;
  font-size: 14px;
  padding: 6px 16px;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  height: 35px;
}

.button:hover {
  background-color: #f4f6ec;
}

.banner__more-actions {
  font-size: 2rem;
  margin-left: 8px;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
}

.banner__avatar {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  bottom: -87px;
  left: 10px;
  z-index: 2;
}

.banner__avatar {
  cursor: pointer;
}

.banner__avatar img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  left: 10px;
}

.banner__content {
  flex: 1;
  display: flex;
  position: relative;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile__about {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
}

.about__user {
  padding: 0 15px;
}

.about__username {
  color: #14171a;
  font-size: 2.2rem;
  font-weight: 600;
}

.about__tag {
  color: #657786;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.about__me-description {
  color: #14171a;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: 12px;
}

.about__info {
  font-size: 1.4rem;
  color: #657786;
  line-height: 2rem;
}

.about__info .icon {
  margin-right: 4px;
}

.about__info a:hover {
  text-decoration: underline;
}

.info__location {
  margin-bottom: 8px;
}

.info__website {
  margin-bottom: 8px;
}

.about__images {
  margin: 15px 0;
  padding: 0 15px;
}

.about__images-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding-right: 10px;
  margin-top: -8px;
}

.images__info {
  margin-bottom: 8px;
}

.images__image-box {
  background-color: #66757f;
  border-radius: 4px;
  height: 81px;
  width: 81px;
  overflow: hidden;
  margin-top: 8px;
}

.images__image-box img {
  height: 81px;
  width: 81px;
  object-fit: cover;
}

.about__followers {
  margin: 15px 0 5px;
  padding: 0 15px;
}

.followers__info {
  margin-bottom: 8px;
}

.about__followers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding-right: 10px;
  margin-top: -4px;
}

.followers__image-box {
  background-color: #66757f;
  border-radius: 50%;
  height: 49px;
  width: 49px;
  overflow: hidden;
  margin-top: 4px;
}

.followers__image-box img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.profile__modules {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
}

.modules-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0 10px 5px;
}

.modules-card__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header__title {
  color: #14171a;
  font-size: 1.8rem;
  align-items: baseline;
}

.modules-card__header button {
  background-color: transparent;
  color: #1c94e0;
  text-decoration: underline;
  cursor: pointer;
}

.header__dot {
  margin: 0 5px;
}

.similar-profile {
  display: flex;
  flex-direction: column;
}

.similar-profile__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 12px;
  overflow: hidden;
  position: absolute;
}

.similar-profile__avatar img {
  height: 48px;
  width: 48px;
}

.similar-profile__name {
  color: #14171a;
  font-size: 1.4rem;
  font-weight: bold;
}

.similar-profile__tag {
  color: #657786;
  font-size: 1.4rem;
}

.similar-profile {
  min-height: 48px;
}

.similar-profile-group {
  line-height: 1.8rem;
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  flex-direction: column;
  cursor: pointer;
}

.similar-profile-group:hover .similar-profile__name {
  color: #1c94e0;
  text-decoration: underline;
}

.similar-profile__text {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.verified-icon {
  color: #1da1f2;
  padding-left: 2px;
  font-size: 1.4rem;
  text-decoration: none !important;
}

.verified-icon::after {
  content: "\f00c";
  color: white;
  position: relative;
  left: -10px;
  top: -2px;
  font-size: 0.7rem;
}

.similar-profile + .similar-profile {
  margin-top: 10px;
}

.button--follow {
  margin-top: 2px;
  margin-bottom: 4px;
  margin-left: 60px;
  width: 120px;
}

.trends {
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
}

.trends + .trends {
  margin-top: 10px;
}

.trends__hashtag {
  color: #1da1f2;
  font-weight: bold;
}

.trends__tweets {
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.modules-card--trends {
  padding: 15px;
}

.modules-copyright {
  display: flex;
  flex-wrap: wrap;
  color: #657786;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
  padding: 0 10px;
}

.modules-copyright li {
  padding-right: 10px;
}

.modules-copyright li a {
  color: #657786;
}

.modules-copyright li a:hover {
  color: #55acee;
}

.profile__timeline {
  width: 590px;
  flex-shrink: 0;
  padding: 0 5px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

.timeline__card {
  background-color: #fff;
  flex: 1;
}

.timeline__tabs {
  font-size: 1.8rem;
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid #e6ecf0;
  height: 50px;
}

.timeline__tabs li {
  padding: 15px 15px 12px;
}

.timeline__tabs a:hover {
  text-decoration: underline;
}

.timeline__tab--active a {
  color: #14171a;
  text-decoration: none !important;
  cursor: default;
}

.timeline__feed {
  display: flex;
  flex-direction: column;
}

.tweet-container {
  display: flex;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  flex-grow: 1;
}

.tweet {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid #e6ecf0;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  min-height: 64px;
  cursor: pointer;
}

.tweet:hover {
  background-color: #f5f8fa;
}

.tweet__avatar img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  position: absolute;
}

.tweet__header {
  display: flex;
  flex: 1 1 100%;
}
.tweet__author {
  display: flex;
  margin-left: 60px;
}
.tweet__author:hover h3 {
  color: #1da1f2;
  text-decoration: underline;
}
.tweet__content {
  margin-left: 60px;
  color: #14171a;
  font-size: 14px;
  flex: 1 1 100%;
}
.tweet__header h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.tweet__footer {
  margin-left: 60px;
  flex: 1 1 100%;
  display: flex;
  margin-top: 10px;
}

.tweet__action {
  align-items: center;
  display: flex;
  color: #657786;
  cursor: pointer;
}

.tweet__action--comment:hover {
  color: #1da1f2;
}
.tweet__action--retweet:hover {
  color: #17bf63;
}
.tweet__action--like:hover {
  color: #e0245e;
}

.tweet__action + .tweet__action {
  margin-left: 40px;
}

.tweet__action-icon {
  font-size: 1.8rem;
}

.tweet__action-text {
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: bold;
}

.tweet__text {
  word-break: break-word;
  line-height: 2rem;
}

.tweet__text p {
  white-space: pre-line;
  word-wrap: break-word;
}

.tweet__header-span {
  color: #657786;
  font-size: 1.4rem;
}

.tweet__date {
  display: flex;
  align-items: center;
}
.tweet__date::before {
  font-family: "Font Awesome 5 Pro";
  content: "\f111";
  font-weight: bold;
  font-size: 2px;
  margin: 0 4px;
}
